.apartments{
    padding: 50px 0px;
}

.apartments h2{
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
}

.apartments h2::after{
    content: "";
    position: absolute;
    left: -15px;
    bottom: -10px;
    width: 85px;
    height: 3px;
    background: #0067BC;
}

.apartments .apartment{
    margin-bottom: 15px;

}

.apartment .header{
    display: flex;
    background: #0067BC;
    color: #fff;
    padding: 5px 15px;
    justify-content: space-between;
}

.apartment .header .rooms{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.apartment .header .rooms .room{
    display: flex;
    align-items: center;
}

.apartment .header .rooms .room .total{
    margin-right: 5px;
}

.apartment .header .rooms .room .icon img{
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;   
}

.apartments .apartment .meta{
    background: #0067BC;
    color: #fff;
    padding: 15px;
}


.apartments .apartment .meta .header{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.apartments .apartment .meta .desc{
    height: 100px;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}


.apartments .apartment .image{
    overflow: hidden;
    position: relative;
}

.apartments .apartment .image img{
    transition: 3s linear;
    height: 250px;
    width: 100%;
}

.apartments .apartment .image img:hover{
    transform: scale(1.15);
}

.apartments .apartments-wrapper{
    position: relative;
}

.apartments .apartments-wrapper.flexed{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.apartments .apartments-wrapper.flexed .apartment{
    width: calc(33% - 15px);
    margin-bottom: 30px;
}


.apartments .apartments-wrapper.slider .owl-nav button{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    border: none;
}

.apartments .apartments-wrapper.slider .owl-nav button:focus{
    outline: none;
}

.apartments .apartments-wrapper.slider .owl-nav button span{
    display: none;
}

.apartments .apartments-wrapper.slider .owl-nav .owl-next{
    border-bottom: 2px solid #0067BC;
    border-right: 2px solid #0067BC;
    transform: rotate(-45deg) translateY(-50%);
    right: -45px;
}

.apartments .apartments-wrapper.slider .owl-nav .owl-prev{
    border-top: 2px solid #0067BC;
    border-left: 2px solid #0067BC;
    transform: rotate(-45deg) translateY(-50%);
    left: -45px;
}

.apartment.single .image{
    margin-bottom: 30px;
}

.apartment.single .image img{
    width: 100%;
    height: auto;
}


.ajax-search{
    margin-top: 100px;
}

.ajax-search form{
    padding-top: 50px;
}
