{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="employees">
    <div class="container">
        {% for employee in employees %}
        <div class="item">
            <h3>{{employee.name}}</h3>
            <div class="meta">{{employee.age}} year old {{employee.gender}}</div>
            <div class="desc">
                <p>{{employee.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}