{% load static %}
{% url 'frontpage' as home_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    {% block css %} {% endblock %}
    <title>Luxury apartments</title>
</head>
{% url 'frontpage' as pageurl %}
<body class="{% if request.path == pageurl or request.path == '/'  %} frontpage {% else %} subpage {% endif %}">
    <div class="site-overlay"></div>
    <div class="contact-toggle">
        <span>Contact Us</span>
    </div>
    <div class="contact-form">
        <h2>Contact us</h2>
        <form action="">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="message">Message: </label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
    <div class="search-form">
        <div class="container">
            <h2>Search here</h2>
            <form action="{% url 'search-results' %}" method="GET">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="search" name="search" id="search">
                </div>
                <div class="form-group smaller">
                    
                    <select name="zip" id="zip">
                        <option value="">Zip code</option>
                        {% for z in zip %}
                        <option value="{{z}}">{{z}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <header>
        <div class="navigation">
            <div class="container">
                <div class="navbar">
                    <div class="navbar-brand">
                        <div class="title">
                            <a href="{% url 'frontpage' %}"><img src="/static/img/log2.png" /></a>
                        </div>
                    </div>
                    <div class="navbar-right">
                        <ul class="nav-links">
                            <li><a href="{% url 'agents' %}">Agents</a></li>
                        <li class="user">
                                About us
                                <ul class="submenu">
                                        <li class="editprofile">
                                            <a href="{% url 'companyHistory' %}">Company History</a>
                                        </li>
                                        <li class="viewprofile">
                                            <a href="{% url 'priceList' %}">Price List</a>
                                        </li>
                                </ul>
                            </li>
                            {% if user.is_staff %}
                                <li class="user">
                                    
                                    <ul class="submenu">
                                        <li><a href="#">Add location</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="user options">
                                <img style="width: 30px;" src="/static/img/user.svg">
                                <ul class="submenu">
                                    {% if user.is_authenticated %}
                                        <li class="editprofile">
                                            <a href="{% url 'editProfile' %}">Edit Profile</a>
                                        </li>
                                        <li class="viewprofile">
                                            <a href="{% url 'editProfile' %}">View Profile</a>
                                        </li>
                                        <li class="logout">
                                            <a href="{% url 'logout' %}" >Logout</a>
                                        </li>
                                    {% else %}
                                            <li class="sign-in">
                                                <a href="{% url 'login' %}">Login</a>
                                            </li>
                                            <li class="register">
                                                <a href="{% url 'register' %}">Register</a>
                                            </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <div class="search-toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Desktop-Fraedsluvefur" transform="translate(-1297.000000, -24.000000)" fill="#221F20">
                                            <g id="Header">
                                                <path style="fill: #fff;" d="M1306.997,42 C1304.86,42 1302.851,41.168 1301.34,39.657 C1298.221,36.538 1298.221,31.462 1301.34,28.343 C1302.851,26.832 1304.86,26 1306.997,26 C1309.134,26 1311.143,26.832 1312.654,28.343 C1314.165,29.854 1314.997,31.863 1314.997,34 C1314.997,36.137 1314.165,38.146 1312.654,39.657 C1311.143,41.168 1309.134,42 1306.997,42 M1319.842,45.431 L1314.739,40.328 C1317.958,36.4 1317.735,30.596 1314.068,26.929 C1312.115,24.976 1309.556,24 1306.997,24 C1304.438,24 1301.879,24.976 1299.926,26.929 C1299.177,27.678 1298.574,28.518 1298.113,29.411 C1296.629,32.282 1296.629,35.718 1298.113,38.589 C1298.574,39.482 1299.177,40.322 1299.926,41.071 C1301.879,43.024 1304.438,44 1306.997,44 C1309.243,44 1311.489,43.247 1313.325,41.742 L1318.428,46.845 C1318.818,47.235 1319.451,47.235 1319.842,46.845 C1320.232,46.454 1320.232,45.821 1319.842,45.431" id="Page-1"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block banner %} {% endblock %}
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="meta">
                            <h3>About us</h3>
                            <p>Luxury Apartments</p>
                            <p>101 Reykjavík, Iceland</p>
                            <p>Menntavegur 1</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="meta">

                            <h3>Contact</h3>
                            <p>Phone: <a href="tel:444-3214">+354 444-3214</a></p>
                            <p>Email: <a href="mailto:castle@castleapartments.com">castle@castleapartments.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="meta">
                            <h3>Office hours</h3>
                            <p>Monday - Friday: 8am - 6pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block script %} {% endblock %}
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>