{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="{% url 'add-image' apartmentID %}" class="white-background" method="POST">
            {% csrf_token %}
             {% for item in form %}
                <div class="form-group">
                    <label>{{item.name}}</label>
                    {{item}}
                </div>
            {% endfor %}
            <input type="submit" value="Upload" class="btn btn-primary pull-right" style="clear:both; margin : 10px 0" />
            <a href="/apartments/{{ apartmentID }}" class="btn btn-primary pull right">Back</a>
        </form>
    </div>
{% endblock %}