{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form href="add-listing/{{apartment.id}}" class="white-background" method="POST">
            {% csrf_token %}
             {% for item in form %}
                <div class="form-group">

                    {% if item.field.widget.input_type != 'select' %}
                        <label>{{item.name}}</label>
                    {% endif %}
                    {{item}}
                </div>
            {% endfor %}

            <input type="submit" value="Submit" class="btn btn-primary pull-right" style="clear:both; margin : 10px 0" />
        </form>

    </div>


{% endblock %}