{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/agents.css' %}">
{% endblock css %}
{% block content %}
<div class="agents">
    <div class="container">
        <div class="agents-wrapper">
            {% for user in users %}
            <div class="agent">
                <div class="image">
                    <a href="/users/{{user.id}}">
                    <img src=" {{ user.profileImagePath }}"/>
                    </a>
                </div>
                <div class="meta">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <div class="start"><span>Started working on {{user.startDate}}</span></div>
                    <div class="contact">
                        <div class="email">Email: {{user.email}}</div>
                        <div class="phone">Phone: {{user.phone}}</div>
                    </div>
                    <div class="desc">
                        <p>{{user.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}