{% for apartment in apartments %}<div class="apartment col-md-4" data-address="{{apartment.address}}" data-country="{{apartment.locationid.country.country}}">
<div class="header">
    <div class="type">{{apartment.type}} in {{apartment.locationid.region}} <div class="country">{{apartment.locationid.country}}</div></div>
    <div class="rooms">
        <div class="room bedroom">
            <div class="total">
                {{apartment.rooms}}
            </div>
            <div class="icon">
                <img src="/static/img/bed.svg" />
            </div>
        </div>
        <div class="room bathroom">
            <div class="total">
                    {{apartment.bathrooms}}
            </div>
            <div class="icon">
                <img src="/static/img/bed.svg" />
            </div>
        </div>
    </div>
</div>
<div class="image">
    <a href="/apartments/{{apartment.id}}">
        <img src="{{ apartment.displayimage }}" alt="Image here" srcset="">
    </a>
</div>
<div class="meta">
    <div class="header">
        <div class="price">&euro; {{apartment.listings_set.first.price}}</div>
        <div class="size">{{apartment.size}} m&sup2;</div>
    </div>
    <div class="desc">
        {{apartment.listings_set.first.description}}
    </div>
</div>
</div>{% endfor %}
