{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="errors">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
         <form action="{% url 'create-location' %}" class="background-white" method="POST">
             {% csrf_token %}
                {% for item in address_form %}
                 <div class="form-group">
                     <label>{{item.name}}</label>
                    {{item}}
                </div>
            {% endfor %}
          <input type="submit" value="Create" class="btn btn-primary pull-right" style="clear:both; margin : 10px 0" />
        </form>
    </div>


{% endblock %}
<div> WRAPPERS
    <a href="/apartments/{{apartment.id}}/buynow/submit"> </a>>
    </div>