{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h2>Payment info</h2>
         <h2>{{listing.apartmentid.address}} in </h2>
        <p>{{listing.apartmentid.locationid.zip}}</p>
        <p>{{listing.apartmentid.locationid.city}}</p>
        <p>{% if listing.apartmentid.locationid.city %}{{ listing.apartmentid.locationid.city }}, {% endif %}</p>
{#    <div>Location id: {{ locationID }}</div>#}
        <form action="{% url 'pay_info' listing.apartmentid.id %}" class="white-background" method="POST" autocomplete="on">
            {% csrf_token %}
             {% for item in form %}
                <div class="form-group">
                    {% if item.field.widget.input_type != 'select' %}
                        <label>{{item.name}}</label>
                    {% endif %}
                    {{item}}
                </div>
            {% endfor %}
            <input type="submit" value="Next" class="btn btn-primary pull-right" style="clear:both; margin : 10px 0" />
        </form>
    </div>
{% endblock %}