{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="employees">
    <div class="container">
        <div>We are a brand new company started fresh in 2019.  </div>
            </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus <br>
    congue enim faucibus finibus.<br>
    Integer imperdiet bibendum lacinia.<br>
    Quisque id dolor vel neque molestie finibus.<br>
    Vestibulum ante ipsum primis in faucibus orci luctus<br>
    et ultrices posuere cubilia Curae; Vivamus<br>
    ipsum lorem, imperdiet ut urna sed, rhoncus<br>
    pellentesque lectus. Mauris eu dui et nisi mattis<br>
    pellentesque. Fusce mollis posuere risus, in iaculis<br>
    lorem luctus sed. In posuere leo vel ligula pulvinar<br>
    accumsan. Mauris semper enim sit amet nisi consectetur,<br>
    id interdum ante luctus. Quisque cursus ac<br>
    nisi sit amet dapibus. Praesent gravida odio ut ligula<br>
    rutrum eleifend. Donec porttitor nunc metus, id mollis quam<br>
    finibus in. Donec purus tortor, porttitor<br>
    id velit eu, mollis vehicula neque. Morbi commodo maximus massa.<br>

Morbi diam lectus, viverra sed hendrerit quis, congue at augue. <br>
    Pellentesque enim lorem, iaculis non fringilla ac, faucibus id augue. Nulla ut fermentum magna. <br>
    Nulla consequat porttitor turpis id interdum. Maecenas congue et ante ac imperdiet. Quisque eu rhoncus orci.<br>
    Praesent posuere erat sit amet augue iaculis ornare.<br>



    </div>
</div>
{% endblock content %}