{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="history">
    <div class="container">
        <div class="heading" style="margin-bottom: 50px;">
            <h2>We are a brand new company started fresh in 2019.</h2>  
        </div>
        <div class="text">
            <p>Founded in 1875 with a mission of providing excellent selection of fine houses to the great people of Western France.</p>
            <p>Now an international company hoping to bring the world the same great personal and intuitive service we provide those years ago.</p>
            <p>With a growing business came challenges of getting the best people.</p>
            <p>But, I can assure you. We have the best people. People everywhere want to work for us.</p>
            <p>As a matter of fact the other day I was talking to someone and she said.</p>
            <p>“Hey Castle Apartments how do you get the best people?” I said I get them and I take them. If they are not the best people then I do not want them. I send them back. And whoever sent them  should pay to build my apartments.</p>
            <p>Finally, we make the best deals and pass it on to you. The seller and the buyer!</p>
        </div>
    </div>
</div>
{% endblock content %}