{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="employees">
    <div class="container">
        <div>We are a brand new company started fresh in 2019.  </div>
            </div>


    Founded in 1875 with a mission of providing excellent selection of fine houses <br>
    to the great people of Western France. <br>
Now an international company hoping to bring the world the same great personal and <br>
    intuitive service we provide those years ago. <br>
With a growing business came challenges of getting the best people. <br>
But, I can assure you. We have the best people. People everywhere want to work for us. <br>
    As a matter of fact the other day I was talking to someone and she said. <br>
    “Hey Castle Apartments how do you get the best people?” I said I get them and I take them. If they are <br>
    not the best people then I do not want them. I send them back. And whoever sent them  should pay<br>
    to build my apartments.<br>

Finally, we make the best deals and pass it on to you. The seller and the buyer!


    </div>
</div>
{% endblock content %}