{% extends "base.html" %}
{% load app_tags %}

{% block content %}
    <div class="container">

    <h1> Edit apartment: {{ apartmenta.address }} <br>
        <div> <a href="/users/{{apartmenta.owner_id}}" class="btn btn-primary pull right">Go to owner page</a>
         </a> Owned by: {{ apartmenta.owner}}  </div>

    </h1>
        <div class="image">
            <img src="{{apartmenta.displayimage}}" alt="">
        </div>

            <form href="edit-apartments/{{apartment.id}}" class="background-white" method="POST">
            {% csrf_token %}
             {%for a, item in apartment|zip:form %}
                    <label>{{item.name}}</label>: {{a}}  {{item}}
            {% endfor %}

            <input type="submit" value="Create" class="btn btn-primary pull-right" style="clear:both; margin : 10px 0" />
        </form>

    </div>


{% endblock %}