{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="employees">
    <div class="container">
        <h1> Our Pricelist</h1>
            </div>

    <p> We try our darnest to provide the best possible service <br>
        To provide this service we got the best people,  <br>
        we surround ourselves with only the best and most serious people <br>
    </p>

    <!DOCTYPE html>
<html>
<head>
</head>
<body>
salescost = models.CharField(max_length = 20)
    appraisalcost = models.CharField(max_length = 15)
    photocost = models.CharField(max_length = 15)
    managementcost = models.CharField(max_length = 15)
    datacollection

<table id="customers">
  <tr>
    <th>Sales Cost</th>
    <th>Appraisal cost</th>
    <th>Photo Cost</th>
      <th>managemnt cost</th>
      <th>managemnt cost</th>
  </tr>
    <td>DATA</td>
    <td>DATA</td>
    <td>DATA</td>
    <td>DATA</td>
    <td>DATA</td>
  </tr>

</table>

</body>
</html>






    </div>
</div>
{% endblock content %}