{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/apartments.css' %}">
{% endblock css %}
{% block content%}
<div class="container">
    <div class="review payment">
        <div class="image">
            <img src="{{listing.apartmentid.displayimage}}" href="apartments/{{ listing.apartmentid.id }}"alt="">
        </div>
    <div class="review info">
        <h2>Review</h2>
        <h3>{{listing.apartmentid.type}} in {{listing.apartmentid.locationid.region}}, {{listing.apartmentid.locationid.city}}  </h3>
        <div class="payment info">
            <p>Cardholder name: {{ payment.cardholder }}</p>
            <p>Cardnumber: {{ payment.cardnumber }}</p>
            <p>Time of expiration: Year: {{ payment.expmonth }} Month: {{ payment.expyear }}</p>
            <p>Cardholder address: {{ payment.address }} apt/suite: {{ payment.aptsuite }} </p>
            <p>SSN: {{ payment.ssn }}</p>
            <p>€ {{ listing.price }}</p>
        </div>
    </div>
    <h2>Apartment info:</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="location">
                    <h2>{{listing.apartmentid.address}}</h2>
                    <p>{{listing.apartmentid.locationid.zip}}</p>
                    <p>{{listing.apartmentid.locationid.city}}</p>
                    <p>{{listing.apartmentid.locationid.country}}</p>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <form class="background-white" action="{% url 'review' listing.apartmentid.id listing.id payment.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm purchase" class="btn btn-primary pull-right" style=""/>
</form>
{% endblock%}