{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/apartments.css' %}">
{% endblock css %}
{% block content%}
<div class="container">
    <div class="review payment">
        <div class="image">
            <img src="{{apartment.image}}" href="apartments/{{ apartment.id }}"alt="">
        </div>
    <div class="review info">
        <h2>Review</h2>
        <h3>{{apartment.type}} in {{apartment.location.region}}, {{apartment.location.city}}  </h3>
        <div class="payment info">
            <p>Cardholder name: {{ payment.cardholder }}</p>
            <p>Cardnumber: {{ payment.cardnumber }}</p>
            <p>Time of expiration: Year: {{ payment.expmonth }} Month: {{ payment.expyear }}</p>
            <p>Cardholder address: {{ payment.address }} apt/suite: {{ payment.aptsuite }} </p>
            <p>€ {{ apartment.price }}</p>
        </div>
    </div>
    <h2>Apartment info:</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="location">
                    <h2>{{apartment.address}}</h2>
                    <p>{{apartment.zip}}</p>
                    <p>{{apartment.city}}</p>
                    <p>{{apartment.country}}</p>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <form class="background-white" href="/apartments/{{apartment.id}}/payment_info/{{ payment.id }}/finish" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm purchase" class="btn btn-primary pull-right" style=""/>
</form>
{% endblock%}