{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/apartments.css' %}">
{% endblock css %}
{% block content%}
<div class="container">
    <div class="apartment single">
    <h1> Apartment not currently listed for sale</h1>


        {%  if user.is_staff %}
            <a href="/apartments/{{apartment.id}}/add_listing" class="btn btn-primary pull right">Add listing
            </a>
            <a href="/apartments/{{apartment.id}}/edit_apartment" class="btn btn-primary pull right">Edit Apartment
            </a>
            <a href="/apartments/{{apartment.id}}/remove_apartment" class="btn btn-primary pull right">Remove Apartment</a>
             </a>


        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="location">
                    <h2>{{apartment.address}}</h2>
                        <div class="image">
                <img src="{{apartment.displayimage}}" alt="">
            </div>
                    <p>{{apartment.zip}}</p>
                    <p>{{apartment.city}}</p>
                    <p>{{apartment.country}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="meta" id = "unlistedapartment">
                    <p>{{apartment.type}} in {{apartment.location.region}}, {{apartment.location.city}}  </p>

                    <p>Size: {{apartment.size}}</p>
                    <p>Rooms: {{apartment.rooms}}</p>
                    <p>Bathrooms: {{apartment.bathrooms}}</p>
                    <p>Bathrooms: {{apartment.description}}</
                    <p>Constructed: {{apartment.timeOfConstruction}}</p>
                    <p>Registered: {{apartment.timeOfRegistration}}</p>
                    <p>Country: {{apartment.location.country}}</p>
                    <p>Zip: {{apartment.location.zip}}</p>
                    <button type=submit href="/apartments/{{apartment.id}}/buynow" value="Buy now" ></button>
                    {%  for image in images %}
                        <img src="{{ image }}" alt="Image here" srcset="">
                    {%  endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}